.box-count {
    display: flex;
    max-width: 400px;
    margin: 1rem 0;
    height: 30px;
}

.box-count button{
background-color: purple;
border: none;
color: white;
padding: 0.2rem 1rem;
}

.box-count-children {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.box-count-children p{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border-top: 1px solid purple;
    border-bottom: 1px solid purple;
    padding-right: 2rem;
    padding-left: 2rem;
    height: 100%;
}

.btn-add {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.btn-dis {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.btn-buy {
    margin-left: 1rem;
border-radius: 1rem;
}